
#########################
# openFrameworks patterns
#########################

#ignore everything
/OF/*.*
/OF/addons
/OF/docs
/OF/examples
/OF/export
/OF/libs
/OF/other
/OF/projectGenerator-osx
/OF/projectGenerator-vs
/OF/scripts
/OF/apps/myApps/emptyExample
/OF/apps/myApps/mimetik/*.*
/OF/apps/myApps/mimetik/Makefile



#except
!.gitignore
 !/Arduino/mimetik
 !/OF
 /OF/

!/OF/apps/myApps/mimetik/src
!/OF/apps/myApps/mimetik/bin/data
